@font-face {
    font-family: 'Open Sans';
    src: url("/css/OpenSans-Light.ttf");
}

body{
    font-family: 'Open Sans', serif;
    font-size: 1.5em;
}

.colossal{
    font-size: 3em;
}

.centered-content{
    text-align: center;
}
