.space-below{
    margin-bottom: 10px;
    display: inline-block;
}

.padding-sm{
    padding: 5px;
}

.space-above{
    margin-top: 10px;
    display: inline-block;
}
.space-above-sm{
    margin-top: 5px;
    display: inline-block;
}