<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" ui-sref="/">Palladient</a>
    <img src="img/loading.gif" class="space-above">
    <img src="img/Phaethon%20Logo_Symbol.png" class="navbar-logo">
</div>
<div id="navbar" class="navbar-collapse collapse">
    <ul ng-hide="user.isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a ui-sref="register">Register</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-user"></i>
                Log In
            </a>
            <ul ng-include="'app/users/login.html'" class="dropdown-menu bg-light" style="padding: 15px; width: 300px;"></ul>
        </li>
    </ul>

    <ul ng-show="user.isAuthenticated" class="nav navbar-nav navbar-right">
        <li ng-repeat="navItem in ['Design', 'Configure', 'Work', 'Shop']" ng-click="$parent.activeNav = navItem">
            <a ui-sref="{{navItem}}"><indicator ng-class="{active: activeNav == navItem}">{{navItem}}</indicator></a>
        </li>
        <li class="nav-square"><a href="#">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
        </a></li>
        <li class="nav-square"><a href="#">
            <i class="glyphicon glyphicon-envelope"></i>
        </a></li>
        <li class="dropdown nav-square preserve-size">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-user"></i>
                Frank Bimminey
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </li>
    </ul>
</div><!--/.nav-collapse -->